<head>
    <title>El Cuarteto de Nos</title>
</head>

<body style="background: black">
<font color="white">
    <h1 align="center">El Cuarteto de Nos</h1>
    <div align="center">
        <img src="LaBanda.png">
    </div>
    <p>
        El Cuarteto de nos es una de mis bandas favoritas en español, por lo tanto me gustaria hablar el porque me gustan
        y mencionar algunas de mis canciones favoritas.
    </p>
    <h2>Integrantes</h2>
    <ul>
        <li>Roberto Musso</li>
        <li>Santiago Tavella</li>
        <li>Álvaro Pintos</li>
        <li>Gustavo Antuña</li>
        <li>Santiago Marrero</li>
        <li>Alvin Pintos</li>
        <li>Riki Musso</li>
        <li>Leonardp Baroncini</li>
        <li>Andrés Bedó</li>
    </ul>
    <h2>¿Por qué me gusta?</h2>

    <p>
        Cabe aclara que no todas sus canciones me gustan, pero las que me gustan lo hacen con creces, ya que
        en mcuhas de sus caciones hacen rimas muy elaboradas junto con ritmos pegadizos, quedando en tu mente por
        un buen rato.
    </p>

    <p>Pero tambien me gustan los temas que tratan en dichas caciones, ya que mientras que en un cancion te hablan
    de todo el viaje que alguien se hace para ir a la casa de un amigo en otra te puede invitar a reflexionar sobre
    lo que significa crecer y lo que quires hacer en un futuro</p>

    <h2>Mis canciones favoritas</h2>
    <table border="1" bgcolor="white">
        <tr>
            <th>Nombre</th>
            <th>Album</th>
        </tr>
        <tr>
            <th>Nada es gratis en la vida</th>
            <th>Raro</th>
        </tr>
        <tr>
            <th>Yendo a la casa de Damián</th>
            <th>Raro</th>
        </tr>
        <tr>
            <th>Cómo pasa el tiempo</th>
            <th>Habla tu espejo</th>
        </tr>
        <tr>
            <th>Cuando sea grande</th>
            <th>Porfiado</th>
        </tr>
    </table>
    <p>Si quieres mas informacion conmsulta <a href="https://es.wikipedia.org/wiki/El_Cuarteto_de_Nos">su pagina</a> de wikipedia y su cuenta ofical de
        <a href="https://twitter.com/cuartetodenos">twitter</a></p>

</font>

</body>