<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Practica13</title></head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<body>
<div>
    <h1>Personas</h1>
    <a type="button" class="btn btn-primary btn-sm" th:href="@{/personas/cuestionario}">Nuevo registro</a>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido paterno</th>
                <th scope="col">Apellido materno</th>
                <th scope="col">Edad</th>
                <th scope="col">Genero</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dt:${personas}">
                <td th:text="${dt.nombre}"></td>
                <td th:text="${dt.paterno}"></td>
                <td th:text="${dt.materno}"></td>
                <td th:text="${dt.edad}"></td>
                <td th:text="${dt.genero}"></td>
                <td>
                    <a type="button" class="btn btn-success btn-sm" th:href="@{/personas/actualizar/} + ${dt.id_persona}">
                        Actualizar</a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger btn-sm" th:href="@{/personas/eliminar/} + ${dt.id_persona}">
                        Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<footer>
    <link type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"/>
    <link type="text/javascript" th:src="@{/js/popper.min.js}"/>
    <link type="text/javascript" th:src="@{/js/bootstrap.min.js}"/>
</footer>
</body>
</html>